section.emax-login(bg-img-responsive="./img/emax/home/body.png" bg-img-responsive-md="./img/emax/home/body.png" bg-img-responsive-lg="./img/emax/home/body.png" bg-pos="center center")
	.container
		.row.d-flex.justify-content-end
			.col-12.item.d-lg-none(bg-img="./img/emax/home/body.png" bg-pos="left center" bg-size="900px")
				
			.col-12.item.col-lg-5
				h2.h2 Thông tin bảo hành
				.box-content
					table.table
						tbody
							tr
								th Mã chứng nhận:
								td LT1RW189-
							tr 
								th Tên khách hàng:
								td Triệu Hữu Quyền
							tr 
								th Nha khoa
								td Bs Kiên - 85 Bùi Thị Xuân
							tr
								th Labo
								td Labo Tùng
							tr
								th Phục hình:
								td 1 Đơn vị
							tr
								th Vật liệu:
								td E.max Press
							tr
								th Xuất xứ:
								td Ivoclar Vivadent
							tr
								th Ngày bắt đầu:
								td 19/05/2018
							tr
								th Ngày kết thúc:
								td 19/05/2023
							tr
								th R24
					button(type="button").btn.btn-danger.btn-more Quay lại
