section.emax-information(bg-img="./img/emax/home/body-2.png")
	.container
		.row
			.col-12.item
				a.link(href="#") Đăng nhập
		.row
			.col-12.item
				form.wrap-form
					.form-group
						label(for="code") Nhập mã số thẻ chứng nhận
						input(type="text").form-control#code
					.form-group
						label(for="phone") Điện thoại di động
						input(type="text").form-control#phone
					button(type="button").btn.btn-danger.btn-more Kiểm tra
